@media screen and (max-width: 767px){
    .topNav a:not(:first-child), li>button {display: none;}
    .topNav a.icon {
        top: 0;
        right: 0;
        position: absolute;
        display: block;
        padding: 1.9em;
        font-size: 1.2em;
    }
    .topNav.responsive {position: relative;}
    .topNav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    #bg{
        background-size: 92em;
        background-position-y: -18em;
        background-position-x: -23em;
    }
    #header--container{
        padding: 4em;
    }
    #header--container > h1{
        font-size: 2.1em;
        text-align: center;
    }
    #header--container > h2{
        margin-top: 1em;
        padding: 0em 1em;
        text-align: center;
    }
    #intro > div:first-child{
        padding-top: 6em;
    }
    #bg-im-intro{
        background-image: url(../images/illustration-editor-mobile.svg);
        background-size: 26em;
        background-position-x: 0em;
        background-position-y: 13em;
    }
    #intro-txt-1, #intro-txt-2, #second-txt-1,#second-txt-2, #third-txt-1, #third-txt-2, #thir-txt-3,#thir-txt-4{
        width: 80%;
        padding: 0;
        align-self: center;
        text-align: center;
    }
    #intro-txt-1{
        padding-top: 23em;
    }
    #intro-txt-2{
        padding-bottom: 15em;
    }
    #intro-txt-1>h2,#intro-txt-2>h2{
        font-size: 2em;
    }
    #intro-txt-1>p,#intro-txt-2>p{
        font-size: 1.2em;
    }
    #bg-im-second-circles{
        background-size: 55em;
        background-position-x: -22em;
        background-position-y: -25em;
    }
    #bg-im-second{
        background-size: 28em;
        left: -1em;
        top: -14em;
        width: 100%;
    }
    #bg-im-third-circles{
        background-image: url(../images/illustration-laptop-mobile.svg);
        background-size: 26em;
        background-position-x: 0em;
        background-position-y: 3em;
    }
    #second-txt-1{
        padding-top: 20em;
    }
    #second-txt-1>h2, #thir-txt-3>h2{
        font-size: 2.5em;
    }
    #second-txt-2>p, #thir-txt-4>p{
        padding-top: 1.5em;
        padding-bottom: 5em;
        font-size: 1.5em;
    }
    #third-txt-1{
        padding-top: 23em;
    }
    #third-txt-2{
        padding: 2em 0em;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center
    }
    footer>div{
        padding-top: 1em;
    }
    footer>div>a{
        padding-top: 0.5em;
    }
}
@media screen and (max-width: 424px){
    *{
        font-size: 12px;
    }
}