@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(365, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    --White: hsl(0, 0%, 100%);
    --Grayish-blue: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue: hsl(207, 13%, 34%);
    --Very-dark-black-blue: hsl(240, 10%, 16%);
    
}
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
body{
    background-color: rgb(250, 250, 250);
}
header{
    overflow: hidden;
    border-bottom-left-radius: 5em;
}
header, #intro, #second, #third, footer{
    position: relative;
}
.topNav .icon{
    display: none;
}
#bg{
    background-image: url('../images/bg-pattern-intro.svg');
    background-size: 155em;
    background-position-y: -65em;
    background-position-x: -25em;
    background-repeat: no-repeat;
    z-index: -2;
    width: 100%;
    height: 100%;
    position: absolute;
}
#background{
    background: linear-gradient(to bottom right,hsl(13, 100%, 72%),hsl(353, 100%, 62%));
    z-index: -2;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
#intro-txt-1, #intro-txt-2{
    width: 40%; padding-left: 6em;
}
#intro-txt-2{
    padding-bottom: 8em;
}
#second-txt-1, #second-txt-2{
    width: 40%;
}
#second-txt-1{
    padding: 7em 7em 0em;
}
#second-txt-2{
    padding: 1.5em 7em 10.5em;
}
#third-txt-1, #third-txt-2, #thir-txt-3,#thir-txt-4{
    width: 40%;
}
#third-txt-1{
    padding: 23em 7em 0em;
}
#third-txt-2{
    padding: 1.5em 7em;
}
#thir-txt-3{
    padding: 6em 7em 0em;
}
#thir-txt-4{
    padding: 1.5em 7em 10.5em;
}
nav{
    z-index: 100;
    position: relative;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav > ul >li{
    display: flex;
    padding: 1em 0em;
    align-items: baseline;
}
li > *, li>div>*{
    margin: 1em;
    text-decoration: none;
    color: white;
}
#bg-logo{
    font-size: 2em;
}
.f-ubuntu{
    font-family: 'Ubuntu', sans-serif;
}
.f-overpass{
    font-family: 'Overpass', sans-serif;
}
#header--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}
#header--container > *{
    font-family: 'Overpass';
    color:white;
}
#header--container > h1{
    font-size: 3.5em;
}
#header--container > h2{
    font-weight: 100;
    margin-bottom: 3em;
}
button{
    padding: 0.8em;
    border: none;
    border-radius: 1.5em;
    margin: 0.5em;
    cursor: pointer;
    font-family: 'Ubuntu';
}
.button-primary{
    background-color: var(--very-light-red);
    color: white;
}
.button-secondary{
    background-color: white;
    color: var(--very-light-red);
}
#background--intro, #background--third{
    background-color: rgb(250, 250, 250);
    z-index: -3;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
#intro{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    color:var(--Very-dark-black-blue);
}
#bg-im-intro{
    background-image: url(../images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    background-position-x: 43em;
    background-position-y: 3em;
}
#second, #third{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}
#background--second{
    background-color: var(--Very-dark-black-blue);
    z-index: -2;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    border-bottom-left-radius: 5em;
    border-top-right-radius: 5em;
}
#bg-im-second, #bg-im-second-circles, #bg-im-third-circles{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}
#bg-im-second{
    background-image: url(../images/illustration-phones.svg);
    width: 552px;
    height: 552px;
    position: absolute;
    right: 0;
    top: -4.5em;
    left: 5em;
}
#bg-im-second-circles{
    background-image: url(../images/bg-pattern-circles.svg);
    background-position-x: -14em;
    background-position-y: -30em
}
#third{
    color: var(--Very-dark-black-blue);
}
#bg-im-third-circles{
    background-image: url(../images/illustration-laptop-desktop.svg);
    background-position-x: -17em;
    background-position-y: 10em;
}
#background--footer{
    background: var(--Very-dark-black-blue);
    z-index: -2;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
footer{
    display: flex;
    flex-direction: row;
    color: white;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    padding: 2em;
    overflow: hidden;
    border-top-right-radius: 5em;
}
footer > div {
    display: flex;
    flex-direction: column;
}
footer > div > a{
    font-family: 'Overpass';
    font-size: 0.8em;
    padding-top: 0.5em;
}
footer > div >h2{
    padding-bottom: 1em;
}